/* Fontes*/

.rodape {/*17*/
    padding: 24px;/*20*/
    background-color:var(--cor-terciaria);/*18*/
    color: var(--cor-primaria);/*19*/
    text-align: center; /*21*/
    font-family: var(--font-secundaria);/*22*/
    font-size: 1.5rem;/*23*/
    font-weight: 400;/*24*/

}
@media (max-width: 1200px) {
   .apresentacao {
    flex-direction: column-reverse;
    padding: 5% ;
   }  
   .apresentacao__conteudo {
    width: auto;
   }
   .cabecalho {
    padding: 10%;
   }
   .cabecalho__menu {
    justify-content: center;
   }
}@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root { /* Variavel CSS para Cores e Fontes 37*/
    --cor-primaria: #000000; 
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body {

box-sizing: border-box;
background-color: var(--cor-primaria);
color: var(--cor-secundaria)

}
.cabecalho {/*31*/
   padding: 2% 0 0 15%;/*32*/
   
}
.cabecalho__menu {/*33*/
   display: flex;/*34*/
   gap: 80px; /*35*/

}
.cabecalho__menu__link {/*26*/
    font-family:var(--font-secundaria);/*27*/
    color: var(--cor-terciaria);/*28*/
    font-size: 1.5rem;/*29*/
    font-weight: 600;/*30*/
    text-decoration: none; /* antes criar o link e o html que vai ser direcionado 36*/

}
.apresentacao {
    padding: 5% 15%; /*Verticale Horizontal*//*25*/
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentacao__conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria)
    
}
.titulo-destaque {
    color:var(--cor-terciaria); 
}
.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}
.apresentação__links {
    display: flex;
    flex-direction: column;/*5*/
    align-items: center;/*6*/
    justify-content: space-between;
    gap: 32px;/*7*/
}
.apresentação__links_subtitulo {/*1*/
    font-family: var(--font-primaria);/*2*/
    font-weight: 400;/*3*/
    font-size: 1.5rem;/*4*/
}
.apresentação__links__navegacao {
    display: flex;/*12*/
    justify-content: center;/*13*/
    gap: 16px; /*14*/
    border: 2px solid var(--cor-terciaria);/*8*/
    width: 50%; /*largura do botão*//*10*/
    text-align: center; /*alinhamento do texto*/
    border-radius: 8px; /*bordas curvada - Raio do arendodamento *//*11*/
    font-size: 1.5rem;/*tamanho da fonte*/
    font-weight: 600;/*peso da fonte*/
    padding: 21.5px 0 ;  ; /* Margem do elemento ate a borda, obs: 2 valores um vertical e outro horizotal*/ 
    text-decoration: none; /*sem a linha do link*/
    color: var(--cor-secundaria);/*cor da font*//*9*/
    font-family: var(--font-secundaria) /*escolha da font*/
     }
.apresentação__links__link:hover { /*15*/
    background-color: var(--cor-hover);/*16*/
  
}
.apresentacao__imagem {
    width: 50%;
}
